In [47]:
#导入数据
import pandas as pd

data=pd.read_csv("salaries.csv")

data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [48]:
#数据处理
#删除id这一列,因为重复
data.drop(['Id'],axis=1,inplace=True)
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [49]:
#把所有列的名字改成中文,方便后续使用
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [50]:
data.columns=['员工姓名', '员工职位', '基本工资', '加班工资', '其他支付', '福利', '总共支付', '总共支付加福利', '入职年份',
       '附加说明', '代理', '状态']
data.columns
data.head()

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [51]:
data['员工姓名']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
148653            Joe Lopez
Name: 员工姓名, Length: 148654, dtype: object

In [52]:
data.info

<bound method DataFrame.info of                      员工姓名                                            员工职位  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148649      Roy I Tillery                                       Custodian
148650       Not provided                                    Not provided
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653          Joe Lopez                      Counselor, Log Cabin Ranch

             基本工资       加班工资       其他支付   福利       总共支付    总共支付加福利  入职年份  \
0       167411.18       0.00  400184.25  NaN  567595.43  567595.43  2011
1       155966.02  245131.88  137811.38  NaN  538909.28  538909.28  2011
2       212739.13  106088.18   16452.60  NaN  335279.91  335279.91  2011
3        77916.00   56120.71  198306.90  NaN  332343.61  332343.61  2011
4       134401.60    9737.00  182234.59  NaN  326373.19  326373.19  2011
...           ...        ...        ...  ...        ...        ...   ...
148649       0.00       0.00       0.00  0.0       0.00       0.00  2014
148650        NaN        NaN        NaN  NaN       0.00       0.00  2014
148651        NaN        NaN        NaN  NaN       0.00       0.00  2014
148652        NaN        NaN        NaN  NaN       0.00       0.00  2014
148653       0.00       0.00    -618.13  0.0    -618.13    -618.13  2014

        附加说明             代理  状态
0        NaN  San Francisco NaN
1        NaN  San Francisco NaN
2        NaN  San Francisco NaN
3        NaN  San Francisco NaN
4        NaN  San Francisco NaN
...      ...            ...  ..
148649   NaN  San Francisco NaN
148650   NaN  San Francisco NaN
148651   NaN  San Francisco NaN
148652   NaN  San Francisco NaN
148653   NaN  San Francisco NaN

[148654 rows x 12 columns]>

In [53]:
#查看入职年份都有几中?(唯一值)
data['入职年份'].nunique()

4

In [54]:
#平均工资
data['基本工资'].mean()

66325.4488404877

In [55]:
#max
data['基本工资'].max()

319275.01

In [56]:
#GARY JIMENEZ 基本工资是多少
data[data['员工姓名']=='GARY JIMENEZ']['基本工资']

1    155966.02
Name: 基本工资, dtype: float64

In [57]:
#收入最高的的人(总共支持加福利)
data[data['总共支付加福利']==data['总共支付加福利'].max()]['员工姓名']

0    NATHANIEL FORD
Name: 员工姓名, dtype: object

In [58]:
#收入最低的人
data[data['总共支付加福利']==data['总共支付加福利'].min()]['员工姓名']

148653    Joe Lopez
Name: 员工姓名, dtype: object

In [59]:
data.describe

<bound method NDFrame.describe of                      员工姓名                                            员工职位  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148649      Roy I Tillery                                       Custodian
148650       Not provided                                    Not provided
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653          Joe Lopez                      Counselor, Log Cabin Ranch

             基本工资       加班工资       其他支付   福利       总共支付    总共支付加福利  入职年份  \
0       167411.18       0.00  400184.25  NaN  567595.43  567595.43  2011
1       155966.02  245131.88  137811.38  NaN  538909.28  538909.28  2011
2       212739.13  106088.18   16452.60  NaN  335279.91  335279.91  2011
3        77916.00   56120.71  198306.90  NaN  332343.61  332343.61  2011
4       134401.60    9737.00  182234.59  NaN  326373.19  326373.19  2011
...           ...        ...        ...  ...        ...        ...   ...
148649       0.00       0.00       0.00  0.0       0.00       0.00  2014
148650        NaN        NaN        NaN  NaN       0.00       0.00  2014
148651        NaN        NaN        NaN  NaN       0.00       0.00  2014
148652        NaN        NaN        NaN  NaN       0.00       0.00  2014
148653       0.00       0.00    -618.13  0.0    -618.13    -618.13  2014

        附加说明             代理  状态
0        NaN  San Francisco NaN
1        NaN  San Francisco NaN
2        NaN  San Francisco NaN
3        NaN  San Francisco NaN
4        NaN  San Francisco NaN
...      ...            ...  ..
148649   NaN  San Francisco NaN
148650   NaN  San Francisco NaN
148651   NaN  San Francisco NaN
148652   NaN  San Francisco NaN
148653   NaN  San Francisco NaN

[148654 rows x 12 columns]>

In [60]:
#每年所有员工的平均工资是多少
data.groupby('入职年份').count()

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,附加说明,代理,状态
入职年份,,,,,,,,,,,
2011,36159,36159,36159,36159,36159,0,36159,36159,0,36159,0
2012,36766,36766,36766,36766,36766,36766,36766,36766,0,36766,0
2013,37606,37606,37001,37606,37606,37606,37606,37606,0,37606,0
2014,38123,38123,38119,38119,38119,38119,38123,38123,0,38123,0

In [61]:
data.groupby('入职年份').mean()["基本工资"]

入职年份
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: 基本工资, dtype: float64

In [62]:
#任职人数最多的的5个岗位  排序 注意正序和倒叙 默认降序 方法一:
data.groupby('员工职位').count()['员工姓名'].sort_values(ascending=False).head()

员工职位
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: 员工姓名, dtype: int64

In [63]:
##任职人数最多的的5个岗位  排序 正序和倒叙 方法二:
data['员工职位'].value_counts().head()
#value_counts()是值计数统计

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: 员工职位, dtype: int64

In [64]:
#这个机构有多少个工作岗位
data['员工职位'].nunique()

2159

In [65]:
#2014年有多少个职位只有一个人担任
sum(data[data['入职年份']==2014]['员工职位'].value_counts()==1)

175