In [30]:
# 以数据分析的思路来想象一下，假设我们获取到了某一个公司的员工相关数据，会发生哪些事情
# 姓名、性别、联系方式、入职时间、入职等级、基本薪资、福利情况
# 晋升时间点、晋升职级、薪资调整情况、员工职位、离职时间

In [31]:
# 导入数据并把数据读取出来
import pandas as pd
data = pd.read_csv("salaries.csv")
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [32]:
# 删除Id这一列
data.drop(["Id"],axis=1,inplace=True)

In [33]:
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [34]:
# 把所有列的名字改成中文，方便后续使用
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [35]:
data.columns=["员工姓名","员工职位","基本工资","加班工资",
              "其他支付","福利","总共支付","总共支付加福利",
              "入职年份","附加说明","代理","状态"]

In [36]:
data.columns

Index(['员工姓名', '员工职位', '基本工资', '加班工资', '其他支付', '福利', '总共支付', '总共支付加福利', '入职年份',
       '附加说明', '代理', '状态'],
      dtype='object')

In [37]:
data.head()

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [38]:
# 查看"员工姓名"这一列数据
data["员工姓名"]

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
148653            Joe Lopez
Name: 员工姓名, Length: 148654, dtype: object

In [39]:
# 查看数据详情
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   员工姓名     148654 non-null  object
 1   员工职位     148654 non-null  object
 2   基本工资     148045 non-null  float64
 3   加班工资     148650 non-null  float64
 4   其他支付     148650 non-null  float64
 5   福利       112491 non-null  float64
 6   总共支付     148654 non-null  float64
 7   总共支付加福利  148654 non-null  float64
 8   入职年份     148654 non-null  int64
 9   附加说明     0 non-null       float64
 10  代理       148654 non-null  object
 11  状态       0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 13.6+ MB

In [40]:
#1、查看入职年份都有几个(值有多少种)
data["入职年份"].nunique()

4

In [41]:
# 计算平均工资
data['基本工资'].mean()

66325.44884050643

In [42]:
# 加班工资最高的金额是多少
data["加班工资"].max()

245131.88

In [43]:
# 人名是GARY JIMENEZ的基本工资有多少
data[data["员工姓名"]=='GARY JIMENEZ']['基本工资']

1    155966.02
Name: 基本工资, dtype: float64

In [44]:
# 收入最高的人是谁（总共支付加福利）
data[data['总共支付加福利'] == data["总共支付加福利"].max()]["员工姓名"]

0    NATHANIEL FORD
Name: 员工姓名, dtype: object

In [45]:
# 收入最低的人是谁（总共支付加福利）
data[data['总共支付加福利'] == data["总共支付加福利"].min()]

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [46]:
data.describe()

,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,状态
count,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   员工姓名     148654 non-null  object
 1   员工职位     148654 non-null  object
 2   基本工资     148045 non-null  float64
 3   加班工资     148650 non-null  float64
 4   其他支付     148650 non-null  float64
 5   福利       112491 non-null  float64
 6   总共支付     148654 non-null  float64
 7   总共支付加福利  148654 non-null  float64
 8   入职年份     148654 non-null  int64
 9   附加说明     0 non-null       float64
 10  代理       148654 non-null  object
 11  状态       0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 13.6+ MB

In [48]:
# 每年所有员工的平均的基本工资是多少
data.groupby('入职年份').mean()["基本工资"]

入职年份
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: 基本工资, dtype: float64

In [49]:
# 任职人数最多的5个岗位    (排序) 正序和倒序
data.groupby("员工职位").count()["员工姓名"].sort_values(ascending=False).head(6)

员工职位
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
Name: 员工姓名, dtype: int64

In [50]:
# value_counts()是值计数统计
data["员工职位"].value_counts().head(6)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
Name: 员工职位, dtype: int64

In [51]:
# 这个机构有多少个工作岗位
data["员工职位"].nunique()

2159

In [52]:
# 2014年有多少个职位只由一个人担任
sum(data[data['入职年份']==2014]["员工职位"].value_counts()==1)

175

In [53]:
data['入职年份']==2014

0         False
1         False
2         False
3         False
4         False
          ...
148649     True
148650     True
148651     True
148652     True
148653     True
Name: 入职年份, Length: 148654, dtype: bool

In [54]:
data[data['入职年份']==2014]

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
110531,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,NaN
110532,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,NaN
110533,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,NaN
110534,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,NaN
110535,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [55]:
data[data['入职年份']==2014]["员工职位"]

110531                Deputy Chief 3
110532             Asst Med Examiner
110533      Chief Investment Officer
110534               Chief of Police
110535        Chief, Fire Department
                     ...
148649                     Custodian
148650                  Not provided
148651                  Not provided
148652                  Not provided
148653    Counselor, Log Cabin Ranch
Name: 员工职位, Length: 38123, dtype: object

In [56]:
data[data['入职年份']==2014]["员工职位"].value_counts()

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
                                ...
Rent Board Supervisor              1
Signal and Systems Engineer        1
IS Operator-Journey                1
Wire Rope Cable Maint Sprv         1
Senior Transcriber Typist          1
Name: 员工职位, Length: 997, dtype: int64

In [57]:
data[data['入职年份']==2014]["员工职位"].value_counts()==1

Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Firefighter                     False
                                ...
Rent Board Supervisor            True
Signal and Systems Engineer      True
IS Operator-Journey              True
Wire Rope Cable Maint Sprv       True
Senior Transcriber Typist        True
Name: 员工职位, Length: 997, dtype: bool

In [72]:
data[data['入职年份']==2014]["员工职位"].value_counts()==1

Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Firefighter                     False
                                ...
Rent Board Supervisor            True
Signal and Systems Engineer      True
IS Operator-Journey              True
Wire Rope Cable Maint Sprv       True
Senior Transcriber Typist        True
Name: 员工职位, Length: 997, dtype: bool

In [69]:
data[data[data['入职年份']==2014]['员工职位'].value_counts()==1]

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [73]:
data[data['入职年份']==2014]['员工职位'].value_counts()==1

Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Firefighter                     False
                                ...
Rent Board Supervisor            True
Signal and Systems Engineer      True
IS Operator-Journey              True
Wire Rope Cable Maint Sprv       True
Senior Transcriber Typist        True
Name: 员工职位, Length: 997, dtype: bool

In [78]:
data['员工姓名']=='GARY JIMENEZ'

0         False
1          True
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: 员工姓名, Length: 148654, dtype: bool